@import 'reset';
@import 'stonks';

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #00456f;
}

header {
  font-family: 'Staatliches', cursive;
  text-align: center;
  color: #fff;
  background-color: red;
  padding: 40px;
  background: rgb(0,142,228);
  background: linear-gradient(180deg, rgba(0,142,228,1) 0%, rgba(255,255,255,0) 100%);

  .header {
    font-size: 3.5em;

    &--small {
      font-size: 1.2em;
    }
  }
}

.klik-container {
  .knop {
    margin-top: 80px;
    text-align: center;
  }

  .kliks {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
    width: 250px;
    margin: 80px auto;

    h1 {
      border-radius: 10px 10px 0px 0px;
      background-color: orange;
      color: #fff;
      font-size: 1.2em;
      font-weight: bold;
      padding: 10px;
    }

    p {
      font-family: 'Staatliches', cursive;
      font-size: 2em;
      padding: 20px;
    }
  }
}


.unlockable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  margin-left: 40px;
  margin-right: 40px;

  .item {
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: transform 0.5s;

    h3 {
      font-size: 1.4em;
      font-weight: bold;
    }

    p {
      line-height: 1.25em;
      margin-top: 20px;

      span {
        font-weight: bold;
        color: orange;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.item1 {
  opacity: 0.5;
}

.item2 {
  opacity: 0.5;
}

.item3 {
  opacity: 0.5;
}

.item4 {
  opacity: 0.5;
}
