@import 'reset';
@import 'stonks';

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #00456f;
} 

header {
  font-family: 'Staatliches', cursive;
  text-align: center;
  color: #fff;
  background-color: red;
  padding: 40px;
  background: rgb(0,142,228);
  background: linear-gradient(180deg, rgba(0,142,228,1) 0%, rgba(255,255,255,0) 100%);

  .header {
    font-size: 3.5em;
    // padding-top: 40px;

    &--small {
      font-size: 1.2em;
      // padding-bottom: 40px;
    }
  }
}

.knop {
  margin-top: 80px;
  text-align: center;
}

.unlockable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  margin-left: 40px;
  margin-right: 40px;

  .item {
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    h3 {
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}

.item1 {
  display: block;
}

.item2 {
  display: block;
}

.item3 {
  display: block;
}

.item4 {
  display: block;
}
